<template>
  <div class="create-post-form-container">
    <h1>{{ isEditMode ? 'Редактировать' : 'Добавить' }} пост</h1>
    <input
      type="text"
      id="post-text"
      v-model="text"
      placeholder="Напишите что-нибудь"
      @keyup.enter="isEditMode ? updatePost() : createPost()"
    />
    <button @click="isEditMode ? updatePost() : createPost()">Опубликовать</button>
    <router-link :to="{name: 'MainPage'}" tag="button">Отмена</router-link>
  </div>
</template>

<script>
  import PostsService from '../PostsService';

  export default {
    name: 'CreatePostForm',

    data() {
      return {
        text: '',
      };
    },

    computed: {
      isEditMode() {
        return this.$route.name === 'EditPost';
      },
    },

    methods: {
      createPost() {
        PostsService.insertPost(this.text).then(() => {
          this.$router.push({name: 'MainPage'});
        });
      },

      updatePost() {
        PostsService.updatePost(this.$route.params.id, this.text).then(() => {
          this.$router.push({name: 'MainPage'});
        });
      },

      async getPost(id) {
        return (await PostsService.getPostById(id)).data;
      },
    },

    async created() {
      if (this.isEditMode) {
        let post = await this.getPost(this.$route.params.id);
        this.text = post.text;
      }
    },
  };
</script>

<style scoped>
  .create-post-form-container {
    display: flex;
    flex-direction: column;
    padding: 20px 50px 0px 50px;
  }

  .create-post-form-container input,
  .create-post-form-container button {
    margin: 10px 0px;
    font-size: 20px;
  }

  .create-post-form-container input {
    padding: 5px;
  }

  .create-post-form-container button:last-child {
    margin-top: 0px;
  }
</style>
