<template>
  <div class="main-page">
    <PostsList />
    <router-link :to="{name: 'CreatePost'}" tag="button">Добавить пост</router-link>
  </div>
</template>

<script>
  import PostsList from './PostsList';

  export default {
    name: 'MainPage',

    components: {
      PostsList,
    },
  }
</script>

<style scoped>
  hr {
    margin: 20px 0px;
  }

  .main-page {
    display: flex;
    flex-direction: column;
  }

  .main-page * {
    margin: 10px 0px;
    font-size: 20px;
  }
</style>
