<template>
  <div class="posts-list-container">
    <h1>Все посты</h1>
    <div class="posts-list">
      <p class="error" v-if="error">{{ error }}</p>
      <div
          class="post"
          v-for="(post, index) in posts"
          :item="post"
          :index="index"
          :key="post._id"
      >
        <p class="date">{{ `${post.createdAt.toLocaleString()}` }}</p>
        <p class="text">{{ post.text }}</p>
        <router-link :to="{name: 'EditPost', params: {id: post._id}}" tag="button">Редактировать</router-link>
        <button @click="deletePost(post._id)">Удалить</button>
      </div>
    </div>
  </div>
</template>

<script>
  import PostsService from '../PostsService';

  export default {
    name: 'PostsList',

    data() {
      return {
        posts: [],
        error: '',
      };
    },

    methods: {
      async deletePost(id) {
        await PostsService.deletePost(id);
        this.posts = await PostsService.getPosts();
      },
    },

    async created() {
      try {
        this.posts = await PostsService.getPosts();
      } catch (e) {
        this.error = e.message;
      }
    },
  };
</script>

<style scoped>
  .posts-list {
    max-height: 307px;
    overflow-y: auto;
  }

  .post {
    background-color: #41b883;
    padding: 5px 20px 10px 20px;
    margin-top: 10px;
    border: 2px solid #2c3e50;
    text-align: right;
  }

  .post:first-child {
    margin-top: 0px;
  }

  .date,
  .text {
    text-align: left;
  }

  .date {
    margin-top: 10px;
  }

  .text {
    background-color: #ffffff;
    margin: 10px 0px;
    padding: 10px;
  }

  .post button {
    margin-left: 10px;
  }
</style>
